@import "src/styles/variables";

.app-radio {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  &--fullwidth {
    display: flex;
  }
  input[type="radio"] {
    /* remove standard background appearance */
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    appearance: none;
    outline: none;
    cursor: pointer;

    margin: 0px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    border: 2px solid $gray-light;
    position: relative;

    &:focus {
      border: 2px solid $fueled-red;
    }
    &:checked {
      border: 2px solid $fueled-red;
      &:after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: calc(100% - 6px);
        height: calc(100% - 6px);
        border-radius: 20px;
        background-color: $fueled-red;
        transform: translate(-50%, -50%);
        transition: all 0.25s ease-in-out;
      }
    }
  }
  & label {
    color: $fueled-dark-gray;
    margin-left: 0.5rem;
    cursor: pointer;
  }
}
