@import "src/styles/variables";

.app-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.75rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 700;
  line-height: 13px;
  height: 2.5rem;
  text-transform: uppercase;
  &:focus {
    border: 1px solid $fueled-red;
  }
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &--contained {
    background-color: $fueled-red;
    border: 1px solid $fueled-red;
    color: $white;
  }
  &--outlined {
    border: 1px solid $outline;
  }
  &--primary {
    color: $fueled-red;
  }
  &--fullwidth {
    width: 100%;
  }
}
